        <div class="list">
            <button ng-click="selectCategory('checks')">
                <div class="item item-button-right">
                    Business Checks
                </div>
            </button>
            <a href="#" ng-click="selectCategory('checks')">
                <div class="item item-button-right">
                    Laser Checks
                </div>
            </a>
            <a href="#" ng-click="selectCategory('forms')">
                <div class="item item-button-right">
                    Forms
                </div>
            </a>
        </div>