

    <div >

        <ion-header-bar class="bar bar-header" title="title" hides-header>
            <div ng-show="togglesearchbox">
                <button class="button icon ion-navicon"></button>
                <h1 class="title">{{pagetitle}}</h1>

                <button class="button" ng-click="toggleSearch()">Search</button>

            </div>
         </ion-header-bar>

    </div>


    <div ng-hide="togglesearchbox" id="search-box" class="bar bar-header item-input-inset">
        <ion-header-bar ng-hide="toggleSearchBox" class="bar bar-header" title="title" hides-header>
        <button class="button icon ion-navicon"></button>
        <div class="item-input-wrapper" style="position:relative;margin-left:10px;margin-right:10px;">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="data.searchQuery"  style="width: 100%;background-color: #eee;height: auto;">
            <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
        </div>
        <button class="button" style="position:relative;" ng-click="performSearch()">Search</button>
        <button class="button button-clear" style="position:relative;" ng-click="toggleSearch()">Cancel</button>
            </ion-header-bar>
    </div>



<div style="height:45px" ng-show="togglesearchbox"></div>
<div style="height:1px" ng-hide="togglesearchbox"></div>











<!--&lt;!&ndash;-->
<!--&ndash;&gt;-->
